USE [master]
GO
/****** Object:  Database [BusManager]    Script Date: 3/8/2019 10:09:10 AM ******/
CREATE DATABASE [BusManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BusManager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BusManager.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BusManager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BusManager_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BusManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BusManager]
GO
/****** Object:  Table [dbo].[Bus]    Script Date: 3/8/2019 10:09:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bus](
	[BSX] [nvarchar](10) NOT NULL,
	[Make] [nvarchar](50) NULL,
	[DateRegistration] [date] NULL,
 CONSTRAINT [PK_Bus] PRIMARY KEY CLUSTERED 
(
	[BSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BusStation]    Script Date: 3/8/2019 10:09:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusStation](
	[Id] [int] NOT NULL,
	[BSX] [nvarchar](10) NULL,
	[MSNVDRIVER] [nvarchar](50) NULL,
	[DepartureTime] [date] NULL,
	[TimeBack] [date] NULL,
	[MSNVCAST] [nvarchar](50) NULL,
 CONSTRAINT [PK_BusStation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/8/2019 10:09:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Role] [int] NOT NULL,
	[NameRole] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Staff]    Script Date: 3/8/2019 10:09:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Name] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[MSNV] [nvarchar](50) NOT NULL,
	[Role] [int] NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[MSNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TuyenDuong]    Script Date: 3/8/2019 10:09:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuyenDuong](
	[Id] [int] NOT NULL,
	[BSX] [nvarchar](10) NULL,
	[TuyenDuong] [nvarchar](max) NULL,
 CONSTRAINT [PK_TuyenDuong] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[BusStation]  WITH CHECK ADD  CONSTRAINT [FK_BusStation_Bus] FOREIGN KEY([BSX])
REFERENCES [dbo].[Bus] ([BSX])
GO
ALTER TABLE [dbo].[BusStation] CHECK CONSTRAINT [FK_BusStation_Bus]
GO
ALTER TABLE [dbo].[BusStation]  WITH CHECK ADD  CONSTRAINT [FK_BusStation_Staff] FOREIGN KEY([MSNVDRIVER])
REFERENCES [dbo].[Staff] ([MSNV])
GO
ALTER TABLE [dbo].[BusStation] CHECK CONSTRAINT [FK_BusStation_Staff]
GO
ALTER TABLE [dbo].[BusStation]  WITH CHECK ADD  CONSTRAINT [FK_BusStation_Staff1] FOREIGN KEY([MSNVCAST])
REFERENCES [dbo].[Staff] ([MSNV])
GO
ALTER TABLE [dbo].[BusStation] CHECK CONSTRAINT [FK_BusStation_Staff1]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Role] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([Role])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Role]
GO
ALTER TABLE [dbo].[TuyenDuong]  WITH CHECK ADD  CONSTRAINT [FK_TuyenDuong_Bus] FOREIGN KEY([BSX])
REFERENCES [dbo].[Bus] ([BSX])
GO
ALTER TABLE [dbo].[TuyenDuong] CHECK CONSTRAINT [FK_TuyenDuong_Bus]
GO
USE [master]
GO
