<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
    <add name="dbConnectionString" connectionString="Data Source=Binhtvse63547\SQLEXPRESS;Initial Catalog=BusManager;uid=sa;pwd=1"
      providerName="System.Data.SqlClient" />

  </connectionStrings>
  <!--connectionString="Data Source=BINHTVSE63547;Initial Catalog=Student;uid=sa;pwd=1"-->
</configuration>